## CSV to markdown table conversion demo

#### Setup and define paths

In [1]:
import vintools as v

#### Define filepaths

In [2]:
infile = "./data.csv"
outfile = "./table.md"
outfile_quick = "./table_quick.md"

#### Conversion demo

In [3]:
MarkdownTable = v.tl.create_md_table()

In [4]:
MarkdownTable.read_df(infile)
MarkdownTable.df.head()

           sample     index metadata
0  sample_hcz_105  SI-NA-D1  control
1  sample_hcz_106  SI-NA-A2  control
2  sample_hcz_107  SI-NA-D2  control
3  sample_hcz_108  SI-NA-B2  control
4  sample_hcz_109  SI-NA-C3      exp

In [5]:
MarkdownTable.make_table()
MarkdownTable.view()

|sample|index|metadata|
|--|--|--|
|sample_hcz_105|SI-NA-D1|control|
|sample_hcz_106|SI-NA-A2|control|
|sample_hcz_107|SI-NA-D2|control|
|sample_hcz_108|SI-NA-B2|control|
|sample_hcz_109|SI-NA-C3|exp|
|sample_hcz_110|SI-NA-B3|exp|
|sample_hcz_111|SI-NA-C3|exp|
|sample_hcz_112|SI-NA-D3|exp|

In [6]:
MarkdownTable.write(outfile)

./data.csv converted to markdown table and saved: ./table.md

#### There's also a quick function that can be used to format the table in one shot

In [7]:
v.tl.quicktable(infile, outfile="table_quick.md")

./data.csv converted to markdown table and saved: table_quick.md